*{
  margin: 0;
  padding: 0;
}

body, #root {
  height: 100vh;
  width: 100vw;
  background-image: url('./bg.png');
  background-size: cover;      /* Ajusta la imagen para cubrir todo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Arial', sans-serif; /* o la que uses */
   overflow-x: hidden;
}